<div class="container-main">

    <div class="card black-border">
        <div class="card-header d-flex justify-content-center align-items-center black-border">
            <div>IT 07-1</div>
        </div>

        <div class="card-body mx-5">
            <div class="row mb-4 align-items-center">
                <div class="col-md-1">
                    <label class="form-label">รหัสสินค้า</label>
                </div>

                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="XXXX-XXXX-XXXX-XXXX" maxlength="19"
                        [(ngModel)]="productCode" (input)="onSearch()" />
                </div>

                <div class="col-md-1 d-flex justify-content-end">
                    <button class="btn btn-primary w-100" (click)="addProduct()">ADD</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover black-border align-middle">
                    <thead>
                        <tr class="text-center">
                            <th style="width: 5%;">Id</th>
                            <th style="width: 75%;">รหัสสินค้า (30 หลัก)</th>
                            <th style="width: 10%;">View</th>
                            <th style="width: 10%;">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="products().length > 0; else noData">
                        <tr  *ngFor="let product of products(); let i = index">
                            <td class="text-center">{{ product.id }} </td>
                            <td>{{ product.formattedProductCode }}</td>
                            <td class="text-center">
                                <button class="btn btn-success text-white w-100"
                                    (click)="previewQrcode(product.id, product.productCode)">QR</button>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-danger text-white w-100"
                                    (click)="deleteProduct(product.id, product.formattedProductCode)">ลบ</button>
                            </td>
                        </tr>
                    </tbody>

                    <ng-template #noData>
                        <tbody>
                            <tr>
                                <td colspan="4" class="text-center text-muted">
                                    ไม่พบข้อมูล
                                </td>
                            </tr>
                        </tbody>
                    </ng-template>
                </table>
            </div>
        </div>
    </div>
</div>